@for (s of students; track $index) 
{
  <h1>{{s.name}} {{s.surname}}</h1>
}



<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title> New Student </mat-panel-title>
    <mat-panel-description> Open Me to insert a new student </mat-panel-description>
  </mat-expansion-panel-header>
  <form class="example-form"  #form="ngForm" (ngSubmit)="saveStudent();form.reset()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input 
        matInput
        id="name"
        name="name"
        type="text"
        [(ngModel)]="newStudent.name"
        #name="ngModel"
        required
      >
      @if (name.invalid) 
      {
        <mat-error>Please enter a name</mat-error>
      }
      <!-- let author = document.getElementById("author")-->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input 
        matInput
        id="surname"
        name="surname"
        type="text"
        [(ngModel)]="newStudent.surname"
        #surname="ngModel"
        required
      >
      @if (surname.invalid) 
      {
        <mat-error>Please enter a surname</mat-error>
      }
      <!-- let author = document.getElementById("author")-->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date Of Birth</mat-label>
      <input 
        matInput
        id="dob"
        name="dob"
        type="date"
        [(ngModel)]="newStudent.dob"
        #dob="ngModel"
        required
      >
      @if (dob.invalid) 
      {
        <mat-error>Please enter a date of birth</mat-error>
      }
      <!-- let author = document.getElementById("author")-->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input 
        matInput
        id="email"
        name="email"
        type="email"
        [(ngModel)]="newStudent.email"
        #email="ngModel"
        required
      >
      @if (dob.invalid) 
      {
        <mat-error>Please enter a valid mail</mat-error>
      }
      <!-- let author = document.getElementById("author")-->
    </mat-form-field>
    <mat-form-field>
      <mat-label>ClassRoom</mat-label>
      <input 
        matInput
        id="classRoom"
        name="classRoom"
        type="text"
        [(ngModel)]="newStudent.classRoom"
        #classRoom="ngModel"
        pattern="^[1-5][A-F]$"
        required
      >
      @if (classRoom.invalid) 
      {
        <mat-error>Please enter a valid classroom</mat-error>
      }
      <!-- let author = document.getElementById("author")-->
    </mat-form-field>
    <button mat-fab extended type="submit" [disabled]="form.invalid">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </form>
</mat-expansion-panel>