<div class="grid grid-cols-2 gap-4">
    <div>
        <section class="mt-5 ml-5 mb-2 border bg-neutral-100 p-4 rounded-lg w-96 bg-neutral-100">
            <div class="mx-auto">
                <div class="card md:flex max-w-lg">
                    <div class="flex-grow text-center md:text-left">
                        <p class="font-bold">{{student.classRoom}}</p>
                        <h3 class="text-xl heading">{{student.name}} {{student.surname}}</h3>
                        <p class="mt-2 mb-3">Student born in {{student.dob}}</p>
                        <p class="mt-2 mb-3">Email: {{student.email}}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <app-grade-form [studentid]="student.id!" (newGradeEvent)="saveGrade($event)"></app-grade-form>

</div>

<div class="grid grid-cols-3 gap-4">
    @for (grade of grades; track $index) 
    {
        <app-grade-card [grade]="grade"></app-grade-card>
    }
</div>